.forms {
  background-color: rgb(209, 205, 205);
  width: 500px;
  padding: 20px;
}

.ant-input {
  border-color: grey;
}

button[type="submit"] {
  border: none;
  background-color: rgb(138, 196, 196);
  color: black;
}

button[type="submit"]:hover {
  background-color:cadetblue;
}